body {
    background: url(./../img/background.jpg) top;
    background-repeat: no-repeat;
    background-size: auto;
    color: #ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 30px
}

#weather-app {
    width: 600px;
    margin: auto;
    margin-top: 100px;
}


#weather-app form input {
    margin-right: 10px;
}


#weather-app form input:focus {
    color: #4b515d;
    border: 1px solid #ff9999;
    box-shadow: inset 1px 2px 4px #ffd6cc, 3px 3px 8px #ffd6cc;
    outline: none;
}

hr {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

img {
    width: 40%;
}

